<style>
body {
    font-family: ;
    font-family: Arial, sans-serif;
}
header {
    background-color: #dbb788;
    padding: 20px;
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}
</style>